//ESTILO-B
.check-B
	&__background//estilos del recuadro(☐) que tapa del check cuando .check-B esta desmarcado
		background white
		border-radius .125em
		transition all .3s ease-in-out

	&:checked + .check-B__background//estilos del recuadro(☐) que tapa del check cuando .check-B esta marcado
		background checked-color //Variable en shadows.styl
		box-shadow z-depth-1 //Variable en shadows.styl

	&__unchecked//estilos del check[✔] cuando .check-B esta desmarcado
		border solid .125em unchecked-color //Variable en shadows.styl
		transition all .1s ease-in-out .35s

	&:checked + .check-B__background + .check-B__unchecked//estilos del check[✔] cuando .check-B esta marcado
		border-color white
		border-right none
		border-top none
		height 0.275em
		left 0.264em
		top 0.33em
		transform rotate(-45deg)
		width 0.572em
