/**
 * ESTILOS PARA INPUT DE TIPO CHECKBOX
 *
 * CONTENIDO
 * ==========================================================
 * check-D......................Estilos del check animado D.
 *        check-D__background...Fondo del check animado.
 *        check-D__checkbox.....Símbolo animado del checkbox.
 *
 */

/*------------------------------------*\
    CHECK-D
\*------------------------------------*/
.check-D
    &__background //fondo '☐' cuando .custom-check__checkbox esta desmarcado
        background-color white
        border solid .125em unchecked-color //Var en shadows.styl
        border-radius .125em
        transition border .2s ease-in-out .35s

    &:checked + .check-D__background //fondo '☐' cuando .custom-check__checkbox esta marcado
        animation bouncing-item .5s ease-in-out .35s 1 normal forwards
        border-color checked-color //Var en shadows.styl
        box-shadow z-depth-1 //Var en shadows.styl

    &__checkbox //símbolo '✔' cuando .custom-check__checkbox esta desmarcado
        border solid .125em unchecked-color //Var en shadows.styl
        border-radius 0
        border-right none
        border-top none
        height 0.31em //28.18% de 1.1em
        left 0.275em //25% de 1.1em
        top 0.35em //31.81% de 1.1em
        transform rotate(-45deg)
        transition border-left .1s ease-in-out .25s, border-bottom .1s ease-in-out .35s
        width 0.6em //54% de 1.1em

    &:checked + .check-D__background + .check-D__checkbox //símbolo '✔' cuando .custom-check__checkbox esta marcado
        border-color checked-color //Var en shadows.styl
        box-shadow -1px 1px 1px rgba(black, .1)
