/**
 * ESTILOS PARA INPUT DE TIPO RADIO
 *
 * CONTENIDO
 * ==========================================================
 * radio-D......................Estilos del radio animado D.
 *        radio-D__background...Fondo del radio animado.
 *        radio-D__checkbox.....Símbolo animado del radio.
 *
 */

/*------------------------------------*\
    radio-D
\*------------------------------------*/
.radio-D
    &__background //fondo '❍' cuando .custom-check__checkbox esta desmarcado
        background-color white
        border solid .125em unchecked-color //Var en shadows.styl
        border-radius 50%
        transition all .3s ease-in-out

    &:checked + .radio-D__background //fondo '❍' cuando .custom-check__checkbox esta marcado
        border-color checked-color
        box-shadow z-depth-1

    &__checkbox //símbolo '●' cuando .custom-check__checkbox esta desmarcado
        background-color unchecked-color
        border-radius 50%
        transform scale(.6)

    &:checked + .radio-D__background + .radio-D__checkbox //símbolo '●' cuando .custom-check__checkbox esta marcado
        background-color checked-color
        animation radio-D .5s ease-in-out 1ms 1 normal forwards
