//ESTILO-B
.label-check--B
	&::before//estilos del recuadro(☐) que tapa del check cuando .check-B esta desmarcado
		background white
		border-radius .125em
		transition all .3s ease-in-out

	&:checked::before//estilos del recuadro(☐) que tapa del check cuando .check-B esta marcado
		background checked-color //Variable en shadows.styl
		box-shadow z-depth-1 //Variable en shadows.styl

	&::after//estilos del check[✔] cuando .check-B esta desmarcado
		border solid .125em unchecked-color //Variable en shadows.styl
		transition all .1s ease-in-out .35s

	&:checked::after//estilos del check[✔] cuando .check-B esta marcado
		border-color white
		border-right none
		border-top none
		height 25%
		left 24%
		top 30%
		transform rotate(-45deg)
		width 52%
