//ESTILO-D
.label-check--D
	&::before//estilos del recuadro(☐) que tapa del check cuando .check-B esta desmarcado
		background white
		border solid .125em unchecked-color //Variable en shadows.styl
		border-radius .125em
		transition border .3s ease-in-out

	&:checked::before//estilos del recuadro(☐) que tapa del check cuando .check-B esta marcado
		border-color checked-color //Variable en shadows.styl
		box-shadow z-depth-1 //Variable en shadows.styl

	&::after//estilos del check[✔] cuando .check-B esta desmarcado
		border solid .125em unchecked-color //Variable en shadows.styl
		border-right none
		border-top none
		height 25%
		left 24%
		top 30%
		transform rotate(-45deg)
		transition border-left .1s ease-in-out .3s, border-bottom .1s ease-in-out .4s
		width 52%

	&:checked::after//estilos del check[✔] cuando .check-B esta marcado
		border-color checked-color //Variable en shadows.styl
