//ESTILO-C
.label-check--C
	&::before//estilos del recuadro(☐) que tapa del check cuando .check-C esta desmarcado
		background unchecked-color //Variable en shadows.styl
		border-radius .125em
		transition background .3s ease-in-out

	&:checked::before//estilos del recuadro(☐) que tapa del check cuando .check-C esta marcado
		background checked-color //Variable en shadows.styl
		box-shadow z-depth-1 //Variable en shadows.styl

	&::after//estilos del check[✔] cuando .check-C esta desmarcado
		border solid .125em white
		border-right none
		border-top none
		height 25%
		left 24%
		top 30%
		transform rotate(-45deg)
		transition all .1s ease-in-out .3s
		width 52%
