//ESTILO-A
.label-check--A
	&::before//estilos del recuadro(☐) que tapa el check cuando .check-A esta desmarcado
		background white

	&::after//estilos del check[✔] cuando .check-A esta desmarcado
		border solid .125em unchecked-color //Variable en shadows.styl
		transition all .3s ease-in-out

	&:checked::after//estilos del check[✔] cuando .check-A esta marcado
		border-color checked-color //Variable en shadows.styl
		border-right none
		border-top none
		height 50%
		transform rotate(-45deg)
		width 90%
