//ESTILO-A
.label-check--A
	&::before//estilos del recuadro(☐) que tapa el check cuando .check-A esta desmarcado
		background white

	&::after//estilos del check[✔] cuando .check-A esta desmarcado
		border solid .125em #BBDEFB
		transition all .3s ease-in-out

	&:checked::after//estilos del check[✔] cuando .check-A esta marcado
		border-color #42A5F5
		border-right none
		border-top none
		height .5em
		transform rotate(-45deg)
		width 1.1em
