@import 'normalize-v3.0.3-ROBOTO'
@import 'variables'

//BLOQUE HEADER
.header
	background dark-primary-color
	display block
	height 80px
	margin 0 0 5em 0
	padding 0
	position relative
	text-align center
	width 100%

.logo
	display inline-block
	height 132px
	margin 1em 0 0 0
	padding 0
	position relative

	&__image
		margin 0
		max-width 38%
		padding 0
		position relative
		z-index 2

	&__shadow
		background rgba(white, 0)
		border-radius 50%
		box-shadow z-depth-2
		color white
		height 111.5px
		left 34%
		position absolute
		top 9px
		width 111.5px
		z-index 1

	/.nav
		background accent-color
		box-shadow z-depth-1
		font-size 1.3em
		font-weight 100
		height 32px
		position absolute
		text-align center
		top 80px
		width 100%

		&__item
			color white
			cursor pointer
			display inline-block
			line-height 32px
			padding 0 .5em
			text-decoration none
			width 170px

			&:nth-child(2)
				color checked-color
				opacity 0
				width 100px

//ESTILOS DE LOS CONTENEDORES GENERALES
.chrome
.all-navigators
	background gray
	background lighten(divider-color, 80%)
	box-shadow z-depth-2
	margin 2em auto
	width 740px

@media screen and (max-width 760px)
	.chrome
	.all-navigators
		width 95%

//CONTENEDOR LISTA DE CHECKBOX
.list-of-checkbox
	background white
	border-radius .125em
	box-shadow z-depth-1 //Variable en shadows.styl
	display inline-block
	font-size 1.1rem //ESTE VALOR DEFINE EL TAMAÑO DE LOS ELEMENTOS
	height auto
	list-style-type none
	margin .5em
	padding .25em
	width 8em //ESTE VALOR DEFINE EL ANCHO DE LOS ELEMENTOS INTERIORES

	&__item
		margin .25em 0
		padding .25em 4%
		width 92%

//PROPIEDADES DE LABELS Y CHECKBOX
.label
	color secondary-text-color //Variable en shadows.styl
	cursor pointer
	display block
	font-weight 400
	height 1.2em
	position relative
	width 100%

	&__check //DEFINE LAS PROPIEDADES DE POSICIONAMIENTO, ALTO Y ANCHO DE TODOS LOS CHECKBOX
		-moz-appearance none
		-ms-appearance none
		-o-appearance none
		-webkit-appearance none
		cursor pointer
		display block
		height 1.1em
		left 0
		outline none
		position absolute
		top 0
		width 1.1em

		&::before
		&::after
			box-sizing border-box
			content ''
			cursor pointer
			height 100%
			left 0
			position absolute
			top 0
			width 1.1em

	&__text
		display inline-block
		margin-left 2.2em
		width 100%

	/.check
		-moz-appearance none
		-ms-appearance none
		-o-appearance none
		-webkit-appearance none
		box-sizing border-box
		cursor pointer
		display block
		height 1.1em
		left 0
		outline none
		position absolute
		top 0
		width 1.1em

//IMPORTS DE LOS ESTILOS DE CADA TIPO DE CHECKBOX
@import 'check-A'
@import 'check-B'
@import 'check-C'
@import 'check-D'
@import './all-navigators/check-AA'
@import './all-navigators/check-BB'
@import './all-navigators/check-CC'
// @import './all-navigators/check-DD'
