@import 'normalize-v3.0.3-ROBOTO'

//CONTENEDOR Y MODIFICADORES
.wrapper
	background white
	border-radius .125em//2px
	box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	display inline-block
	height 150px
	margin 1em
	padding .5em
	width 160px

.w-blue
	background yellow

//LISTA DE CHECKS
.list-of-checkbox
	list-style-type none
	margin 0
	padding 0

	&__item
		margin 4% auto
		padding 4%
		width 92%

//PROPIEDADES DE LOS LABELS
.label
	color #333
	cursor pointer
	display block
	font-weight 400
	height 1.2em
	position relative
	width 100%

@import 'check-A'
@import 'check-B'
