/**
 * CONTENIDO
 *
 * BLOQUES
 * ================================================================
 * ripple..............Agrega el efecto de ripple al elemento con
 *                     con el data-atribute data-ripple="true"
 * wrapper.............Contenedores de los demos
 * sections-title......Títulos de los wrappers
 *
 */

/*------------------------------------*\
    RIPPLE
\*------------------------------------*/
 span[data-ripple="true"]::before
     background-color rgba(dark-primary-color, .6)
     border-radius 50%
     content ''
     display block
     height 100%
     opacity 0
     position relative
     width 100%
     z-index 100

 input[class^="custom-check__checkbox"]:checked + span[data-ripple="true"]::before
     animation ripple .3s ease-in-out .1s 1 normal forwards

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.wrapper
    background white//var en shadows.styl
    border-radius 0.125em //2px
    box-shadow z-depth-2 //var en shadows.styl
    margin 4em auto
    padding .5em 0 1.5em 0
    position relative
    text-align center
    width 740px

@media screen and (max-width 47.5em)
    .wrapper
        width 95%

.sections-title
    border-bottom border-1
    color lighten(secondary-text-color, 10%) //var en variables.styl
    display block
    font-size 1.3rem
    font-weight 100
    line-height 1.3em
    margin .5em 3%
    padding .25em 1%
    text-align left
    width 92%
