/**
 * CONTENIDO
 * ========================================================================
 * custom-check................Tamaño, color y posicionamiento del label que
 *                              contiene los elementos elementos necesarios para
 *                              construir los custom-checks.
 *
 *     custom-check__checkbox...Tamaño y posicionamiento del input de tipo
 *                              checkbox o radio, que sirve para activar la
 *                              interacción del checkbox animado.
 *
 *     custom-check__text.......Estilos del texto que tiene cada custom-check.
 */


/*------------------------------------*\
    CUSTOM-CHECK
\*------------------------------------*/
.custom-check
    color secondary-text-color //variable en variables.styl
    display block
    font-size 1.1rem //Define el tamaño del check animado y el texto
    font-weight 400
    height 1.2em
    margin .6em auto
    position relative
    text-align left
    width 95%

    &__checkbox
        border-radius 0.125em
        box-sizing border-box
        display block
        height 1.1em
        left 0
        position absolute
        top 0
        width 1.1em

    &__text
        cursor pointer
        display block
        height 1.1em
        left 0
        lineheight 1.1em
        margin-top -.02em
        padding-left 1.7em
        position absolute
        text-align left
        top 0

@media screen and (max-width: 30em)
    .custom-check
        font-size 1.5rem
