.check-A {
  cursor: pointer;
  margin: 0 1em 0 0;
  position: relative;
  top: -0.125em;
}
.check-A__background {
  background: #fff;
  content: '';
  cursor: pointer;
  height: 1.2em;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.2em;
}
.check-A__unchecked {
  border: solid 0.125em #bbdefb;
  content: '';
  height: 1.075em;
  left: 0;
  position: absolute;
  top: -0.0625em;
  transition: all 0.3s ease-in-out;
  width: 1.075em;
  z-index: 1;
}
.check-A:checked + .check-A__background + .check-A__unchecked {
  border-color: #42a5f5;
  border-right: none;
  border-top: none;
  height: 0.5em;
  top: 0.1em;
  transform: rotate(-45deg);
  width: 1.1em;
}
