/**
 * CONTENIDO
 * ================================================================
 * footer................Footer del sitio.
 */

.footer
    background-color dark-primary-color //variable en variables.styl
    height 60px
    position relative
    width 100%

    &::after
        background-color accent-color
        box-shadow z-depth-1
        content ''
        display block
        height 20px
        left 0
        position absolute
        top 0
        width 100%
