/**
 * CONTENIDO
 * ========================================================================
 * landing................Contenedor del título del proyecto
 *      landing__title....Texto del título del proyecto.
 *      landing__autor....Pequeño botón que lleva al twitter del autor.
 */

/*------------------------------------*\
    LANDING
\*------------------------------------*/
.landing
    background-color rgba(white, .9)
    box-shadow z-depth-1
    height 200px
    overflow hidden
    position absolute
    text-align center
    top 112px
    width 100%

    &__title
        color accent-color
        display inline-block
        font-size 4em
        font-weight 100
        margin .8em 0 .2em 0
        padding 0
        width 100%

    &__autor
        background-color accent-color
        border-radius .125em
        box-shadow z-depth-1
        color white
        font-size 1em
        font-weight 400
        padding .3em
        position relative
        text-decoration none
        transition all .2s ease
        z-index 3

        &:hover
            box-shadow z-depth-2

@media screen and (max-width: 27em)
    .landing
        height 140px

        &__title
            font-size 2.5em
            margin 1.2em 0 .2em 0

        &__autor
            font-size 1em
