/**
 * CONTENIDO
 * ================================================================
 * list................Estilos del elemento de tipo lista.
 *     list__item......Estilos de los items del elemento lista.
 */


 /*------------------------------------*\
     LIST
 \*------------------------------------*/
 .list
     background-color white
     border-radius .125em
     box-shadow z-depth-2 //var en shadows.styl
     display inline-block
     // font-size 1.2rem //Define el tamaño de todo los elementos
     height auto
     list-style-type none
     margin .5em
     padding .5em
     width 6.5em //Define el ancho de los elementos interiores

     &__item
         text-align center
         width 100%
