/**
 * CONTENIDO
 *
 * BLOQUES
 * wrapper.............Contenedores de los demos
 * sections-title......Títulos de los wrappers
 *
 */

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.wrapper
    background lighten(divider-color, 85%)//var en shadows.styl
    border-radius 0.125em //2px
    box-shadow z-depth-2 //var en shadows.styl
    margin 4em auto
    position relative
    text-align center
    width 740px

@media screen and (max-width 47.5em)
    .wrapper
        width 95%

.sections-title
    background rgba(white, .5) //var en shadows.styl
    border-bottom border-1
    color lighten(secondary-text-color, 30%) //var en variables.styl
    display block
    font-size 1.3rem
    font-weight 100
    line-height 1.3em
    margin .5em 0
    padding .25em 5%
    text-align left
    width 90%
