/**
 **************************************************************************
 *******************************--CONTENIDO--******************************
 **************************************************************************
 *
 * Variables.............Variables de color sombras.
 * Google fonts..........Import de la fuente Roboto de google fonts.
 *
 *
 * COMPONENTES - CHECKS PERSONALIZADOS
 * ========================================================================
 * Estilos de cada uno de los tipos de check diseñados, estas clases
 * definen el tipo de apariencia que va a tener cada tipo de checkbox.
 * Cada uno de los  tipos de check se crea en archivos independientes
 * para facilitar la edición y la creación de más estilos.
 *
 *
 * COMPONENTES - KEYFRAMES
 * ========================================================================
 * Archivo con todas las animaciones que utilizan los checks personalizados.
 */


 /*------------------------------------*\
    VARIABLES
 \*------------------------------------*/
 @import './tools/variables'

 /*------------------------------------*\
    IMPORT GOOGLE FONTS
 \*------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Roboto:500,300,300italic,400italic,700,400");

/*---------------------------------------*\
    COMPONENTES - CHECKS PERSONALIZADOS
\*---------------------------------------*/
@import './custom-checks/check-A'
@import './custom-checks/check-B'
@import './custom-checks/check-C'
@import './custom-checks/check-D'
@import './custom-checks/radio-A'
@import './custom-checks/radio-B'
@import './custom-checks/radio-C'
@import './custom-checks/radio-D'
@import './custom-checks/switch-A'
@import './custom-checks/switch-B'
@import './custom-checks/switch-C'
@import './custom-checks/switch-D'

/*---------------------------------------*\
    COMPONENTES - KEYFRAMES
\*---------------------------------------*/
@import './custom-checks/keyframes'
