<!DOCTYPE html>
html(lang="es")

    head
        //-META TAGS
        meta(charset="UTF-8")
        meta(name="description" content="Conjunto de checks personalizados, creados con únicamente css.")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

        title Checkbox.css
        link(rel="shortcut icon" href="./public/images/favicon.ico")

        style
            //-INCLUDE QUE CONTIENE LOS ESTILOS DE LA PARTE SUPERIOR DEL SITIO.
            include ./primary-css/primary-css.css

    body
        //-INCLUDE DEL COMPONENTE HEADER Y SUS PARTES
        include header/template.header.jade

        //-INCLUDE DEL PEQUEÑO LANDING Y SUS PARTES
        include landing/template.landing.jade

        //-CONTENEDOR PRINCIPAL DE LOS EJEMPLOS
        main(class="wrapper")
            //-INCLUDE DEL ARCHIVO QUE CONTIENE LOS MIXINS QUE SIRVEN
            //-PARA GENERAR LOS DIFERENTES TIPOS DE CHECKS
            include tools/mixins.jade
            
            //-TÍTULO DE LA SECCIÓN
            h2(class="sections-title") Checkbox

            //-MIXINS QUE GENERAN LOS CUSTOM CHECKS EN FORMATO DE LISTA
            +listCustomCheck("check-A", "checkbox", "false")
            +listCustomCheck("check-B", "checkbox", "false")
            +listCustomCheck("check-C", "checkbox", "false")
            +listCustomCheck("check-D", "checkbox", "false")

            //-TÍTULO DE LA SECCIÓN
            h2(class="sections-title") Radio
            
            //-MIXINS QUE GENERAN LOS CUSTOM CHECKS EN FORMATO DE LISTA
            +listCustomCheck("radio-A", "radio", "true")
            +listCustomCheck("radio-B", "radio", "true")
            +listCustomCheck("radio-C", "radio", "true")
            +listCustomCheck("radio-D", "radio", "false")

            //-TÍTULO DE LA SECCIÓN
            h2(class="sections-title") Switch
            
            //-MIXINS QUE GENERAN LOS CUSTOM CHECKS DE TIPO SWITCH
            +customSwitch("switch-A", "checkbox","true")
            +customSwitch("switch-B", "checkbox","true")
            +customSwitch("switch-C", "checkbox","true")
            +customSwitch("switch-D", "checkbox","true")
                
        //-INCLUDE DEL FOOTER DEL SITIO
        include ./footer/footer.jade
    
//-INCLUDE DE LOS ESTILOS QUE NO SON PRIORIDAD PARA LA PARTE SUPERIOR DEL SITIO.
link(rel="stylesheet", type="text/css", href="./public/css/index.min.css")
