/**
 * CONTENIDO
 *
 * BLOQUES
 * radio-D.......Bloque radio-D
          radio-D__background: Fondo de los checks.
          radio-D__radio: radio animado creado con css.
 *
 */

/*------------------------------------*\
    radio-D
\*------------------------------------*/
.radio-D
    &__background //recuadro ☐  que tapa el input de tipo radio cuando el input esta desmarcado
        background-color white
        border solid .125em unchecked-color //Var en shadows.styl
        border-radius 50%
        transition all .3s ease-in-out

    &:checked + .radio-D__background
        border-color checked-color
        box-shadow z-depth-1

    &__checkbox
        background unchecked-color
        border-radius 50%
        transform scale(.6)

    &:checked + .radio-D__background + .radio-D__checkbox
        background checked-color
        animation radio-D .5s ease-in-out 1ms 1 normal forwards
