/**
 * CONTENIDO
 *
 * BLOQUES
 * radio-A.......Bloque radio-A
          radio-A__background: Fondo de los checks.
          radio-A__radio: radio animado creado con css.
 *
 */

/*------------------------------------*\
    radio-A
\*------------------------------------*/
.radio-A
    &__background //recuadro ☐  que tapa el input de tipo radio cuando el input esta desmarcado
        background-color white
        border solid .125em checked-color //Var en shadows.styl
        border-radius 50%
        transition all .3s ease-in

    &:checked + .radio-A__background //radio animado ✔ cuando el input esta desmarcado
        animation bouncing-item .5s ease-in-out .35s 1 normal forwards
        background checked-color
        border none
        box-shadow z-depth-1
        transform rotateY(180deg)
