/**
 ***************************************************************************
 *******************************--CONTENIDO--******************************
 ***************************************************************************
 *
 *
 * BLOQUES
 * ================================================================
 *
 * header..............Estilos del contenedor header que contiene los
 *                     elementos, logo y nav.
 *
 * logo................Figure que contiene el logo del proyecto.
 *     logo__image.....Imagen del logo del proyecto,
 *     logo__shadow....Sombra del logo,
 *
 * nav.................Contenedor de los links sociales
 *    nav__item........Elementos de tipo link del nav.
 */

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header
    background-color dark-primary-color //variable en variables.styl
    display block
    height 80px
    margin 0 0 17em 0
    text-align center
    width 100%

@media screen and (max-width: 30em)
    .header
        height 100px
        margin 0 0 15em 0

/*------------------------------------*\
    LOGO
\*------------------------------------*/
.logo
    animation bouncing-item 1s ease-in-out .5s 1 normal forwards
    display inline-block
    height 132px
    margin 1em 0 0 0
    position relative
    width 132px
    z-index 3

    &__image
        max-width 100%
        position relative
        z-index 1

    &__shadow
        background-color rgba(white, 0)
        border-radius 50%
        box-shadow z-depth-2 //variable en variables.styl
        color rgba(white, 0)
        height 82%
        left 9%
        position absolute
        top 9%
        width 82%

@media screen and (max-width: 30em)
    .logo
        margin-top -.1em

/*------------------------------------*\
    NAV
\*------------------------------------*/
.nav
    background-color accent-color //variable en variables.styl
    box-shadow z-depth-1 //variable en variables.styl
    font-size 1.3rem
    font-weight 100
    height 32px
    overflow hidden
    position absolute
    text-align center
    top 80px
    width 100%
    z-index 1

    &__item
        color white
        cursor pointer
        display inline-block
        line-height 32px
        padding 0 .5em
        position relative
        text-align center
        text-decoration none
        transition all .3s ease-in
        width 5.5em

        &:nth-child(2)
            background-color none
            box-shadow none
            cursor auto
            opacity 0

        &:hover
            background-color rgba(white, .2)
            box-shadow z-depth-1

@media screen and (max-width: 30em)
    .nav
        height 3.8em
        top 100px

        &__item
            background-color rgba(white, .2)
            box-shadow z-depth-1
            font-size 1.1rem
            font-weight 400
            margin-top 1.8em
            padding 0
            width 6.5em
            transition all ease .3s

            &:hover
                background-color rgba(white, .3)
                box-shadow z-depth-2
                transform scale(1)

            &:nth-child(1)::after
            &:nth-child(3)::after
                display none

            &:nth-child(2)
                width 2em
