//-ELEMENTO HEADER DEL PROYECTO
header(class="header")

    //-LOGO DEL PROYECTO
    figure(class="logo")
        img(class="logo__image"  src="./public/images/logo.png"  alt="logo.png")
        span(class="logo__shadow") a

    //-NAV Y TODOS SUS ELEMENTOS
    nav(class="nav")
        a(class="nav__item"  href="https://github.com/jorge8168711/Checkbox.css"  target="_blank") Github
        span(class="nav__item") a
        a(class="nav__item"  href="https://github.com/jorge8168711/Checkbox.css/archive/master.zip"  target="_blank") Download
