/**
 * CONTENIDO
 *
 * BLOQUES
 * check-C.......Bloque check-C
		  check-C:before: Fondo de los checks.
		  check-C::after: Checkbox animado creado con css.
 *
 */

 /*------------------------------------*\
    CHECK-C
\*------------------------------------*/
.label-check--C
	&::before //recuadro ☐  que tapa el input de tipo checkbox cuando el input esta desmarcado
		background-color unchecked-color //Var en shadows.styl
		border-radius .125em
		transition background-color .3s ease-in-out

	&:checked::before //recuadro ☐  que tapa el input de tipo checkbox cuando el input esta marcado
		background-color checked-color //Var en shadows.styl
		box-shadow z-depth-1 //Var en shadows.styl

	&::after //checkbox animado ✔ cuando el input esta desmarcado
		border solid .125em white
		border-right none
		border-top none
		height 24%
		left 24%
		top 36%
		transform rotate(-45deg)
		transition all .1s ease-in-out .3s
		width 52%
