/**
 * ESTILOS PARA INPUT DE TIPO CHECKBOX
 *
 * CONTENIDO
 * ==========================================================
 * check-A......................Estilos del check animado A.
 *        check-A__background...Fondo del check animado.
 *        check-A__checkbox.....Símbolo animado del checkbox.
 *
 */

/*------------------------------------*\
    CHECK-A
\*------------------------------------*/
.check-A
    &__background //fondo '☐' cuando .custom-check__checkbox esta desmarcado
        background-color white

    &__checkbox //símbolo '✔' cuando .custom-check__checkbox esta desmarcado
        border solid .125em unchecked-color //variable en variables.styl
        transition all .2s ease-in-out

    &:checked + .check-A__background + .check-A__checkbox //símbolo '✔' cuando .custom-check__checkbox esta marcado
        animation check-A .4s ease-in-out .2s 1 normal forwards //animación en keyframes.styl
        border-color checked-color //variable en variables.styl
        border-radius 0
        border-right none
        border-top none
        height 0.55em //50% de 1.1em
        top .14em
        transform rotate(-45deg)
        width 0.99em //90% de 1.1em
