/**
 * ESTILOS PARA INPUT DE TIPO CHECKBOX
 *
 * CONTENIDO
 * ==========================================================
 * check-C......................Estilos del check animado C.
 *        check-C__background...Fondo del check animado.
 *        check-C__checkbox.....Símbolo animado del checkbox.
 *
 */

/*------------------------------------*\
    CHECK-C
\*------------------------------------*/
.check-C
    &__background //fondo '☐' cuando .custom-check__checkbox esta desmarcado
        background-color unchecked-color //variable en variables.styl
        border-radius .125em
        transition all .2s ease-in-out

    &:checked + .check-C__background //fondo '☐' cuando .custom-check__checkbox esta marcado
        animation bouncing-item .5s ease-in-out 0s 1 normal forwards //animación en keyframes.styl
        background-color checked-color //variable en variables.styl
        box-shadow z-depth-1 //variable en variables.styl

    &__checkbox //símbolo '✔' cuando .custom-check__checkbox esta desmarcado
        border solid .125em white
        border-radius 0
        border-right none
        border-top none
        height .33em //30% de 1.1
        left .22em //20% de 1.1em
        top .3em //27.27% de 1.1em
        transform rotate(-45deg)
        width .66em //60% de 1.1em

    &:checked + .check-C__background + .check-C__checkbox
        box-shadow -1px 1px 1px rgba(black, .1)
