/**
 * KEYFRAMES PARA LAS ANIMACIONES DE LOS CHECKS
 *
 * CONTENIDO
 * ==========================================================
 * @keyframes ripple............Efecto ripple de material design.
 * @keyframes bouncing-item.....Efecto tambaleo con el tamaño.
 * @keyframes check-A...........Efecto tambaleo para el check-A.
 * @keyframes radio-B...........Efecto tambaleo para el radio-B.
 * @keyframes radio-D...........Efecto tambaleo para el radio-D.
 */


/*------------------------------------*\
    RIPPLE EFECT
\*------------------------------------*/
@keyframes ripple
    0%
        opacity .5
        transform scale(0)

    25%
        opacity .7
        transform scale(1.5)

    50%
        opacity .8
        transform scale(2.2)

    60%
        opacity .7
        transform scale(3)

    70%
        opacity .5
        transform scale(2)

    100%
        transform scale(0)
        opacity 0

/*------------------------------------*\
    BOUNCING ITEM
\*------------------------------------*/
@keyframes bouncing-item
    10%, 50%, 80%, 100%
        transform scale(1)

    30%
        transform scale(1.2)

    70%
        transform scale(1.1)

    90%
        transform scale(1.05)

/*------------------------------------*\
    ANIMACIÓN CHECK-A
\*------------------------------------*/
@keyframes check-A
    20%, 50%, 100%
        transform scale(1) rotate(-45deg)

    30%
        transform scale(1.2) rotate(-45deg)

    70%
        transform scale(1.1) rotate(-45deg)

/*------------------------------------*\
    ANIMACIÓN RADIO-B
\*------------------------------------*/
@keyframes radio-B
    20%, 80%, 100%
        transform scale(.6)

    40%
        transform scale(.4)

    75%
        transform scale(.55)

/*------------------------------------*\
    ANIMACIÓN RADIO-D
\*------------------------------------*/
@keyframes radio-D
    20%, 60%, 100%
        transform scale(.6)

    40%
        transform scale(.4)

    90%
        transform scale(.5)
