/**
 * ESTILOS PARA INPUT DE TIPO RADIO
 *
 * CONTENIDO
 * ==========================================================
 * radio-D......................Estilos del radio animado D.
 *        radio-D__background...Fondo del radio animado.
 *        radio-D__checkbox.....Símbolo animado del radio.
 *
 */

/*------------------------------------*\
    radio-D
\*------------------------------------*/
.radio-D
    &__background //fondo '❍' cuando .custom-check__checkbox esta desmarcado
        background-color white
        border solid .125em unchecked-color //variable en variables.styl
        border-radius 50%
        transition all .3s ease-in-out

    &:checked + .radio-D__background //fondo '❍' cuando .custom-check__checkbox esta marcado
        border-color checked-color //variable en variables.styl
        box-shadow z-depth-1 //variable en variables.styl

    &__checkbox //símbolo '●' cuando .custom-check__checkbox esta desmarcado
        background-color unchecked-color //variable en variables.styl
        border-radius 50%
        transform scale(.5)

    &:checked + .radio-D__background + .radio-D__checkbox //símbolo '●' cuando .custom-check__checkbox esta marcado
        background-color checked-color //variable en variables.styl
        transform scale(.6)
