/**
 * ESTILOS PARA INPUT DE TIPO RADIO
 *
 * CONTENIDO
 * ==========================================================
 * radio-C......................Estilos del radio animado C.
 *        radio-C__background...Fondo del radio animado.
 *        radio-C__checkbox.....Símbolo animado del radio.
 *
 */

/*------------------------------------*\
    radio-C
\*------------------------------------*/
.radio-C
    &__background //fondo '❍' cuando .custom-check__checkbox esta desmarcado
        background-color white
        border solid .125em checked-color //variable en variables.styl
        border-radius 50%
        transition all .3s ease-in

    &:checked + .radio-C__background //fondo '❍' cuando .custom-check__checkbox esta marcado
        background-color checked-color //variable en variables.styl
        box-shadow z-depth-1 //variable en variables.styl

    &__checkbox //símbolo '●' cuando .custom-check__checkbox esta desmarcado
        border-radius 50%
        transform scale(0)
        transition all .3s ease-in

    &:checked + .radio-C__background + .radio-C__checkbox //símbolo '●' cuando .custom-check__checkbox esta marcado
        animation bouncing-item .5s ease-in-out .2s 1 normal forwards //animación en keyframes.styl
        background-color checked-color //variable en variables.styl
        transform scale(1)
