/**
 * ESTILOS PARA INPUT DE TIPO RADIO
 *
 * CONTENIDO
 * ==========================================================
 * radio-B......................Estilos del radio animado B.
 *        radio-B__background...Fondo del radio animado.
 *        radio-B__checkbox.....Símbolo animado del radio.
 *
 */

/*------------------------------------*\
    radio-B
\*------------------------------------*/
.radio-B
    &__background //fondo '❍' cuando .custom-check__checkbox esta desmarcado
        background-color white
        border solid .125em checked-color //variable en variables.styl
        border-radius 50%
        transition all .3s ease-in

    &:checked + .radio-B__background //fondo '❍' cuando .custom-check__checkbox esta marcado
        box-shadow z-depth-1 //variable en variables.styl

    &__checkbox //símbolo '●' cuando .custom-check__checkbox esta desmarcado
        background-color checked-color //variable en variables.styl
        border-radius 50%
        transform scale(0)

    &:checked + .radio-B__background + .radio-B__checkbox //símbolo '●' cuando .custom-check__checkbox esta marcado
        animation radio-B .5s ease-in-out 1ms 1 normal forwards //animación en keyframes.styl
