/**
 * ESTILOS PARA INPUT DE TIPO SWITCH
 *
 * CONTENIDO
 * ==========================================================
 * switch-B......................Estilos del switch animado A.
 *        switch-B__background...Barra de color que esta por debajo del botón
 *                               que se desplaza al activar o desactivar.
 *
 *        switch-B__checkbox.....Botón animado que esta encima de la barra de color sobre
 *                               la que se desplaza este botón.
 */

/*------------------------------------*\
    SWITCH-B
\*------------------------------------*/
.switch-B
    margin 1em 0 //modifica el margin por defecto de los elementos custom-check

    &__checkbox
        cursor pointer

    &__text
        display inline-block
        margin-right 1.5em
        padding 0
        position relative

    &__background //fondo '☐☐☐☐' cuando .custom-check__checkbox esta desmarcado
        display inline-block
        position relative
        top .15em
        width 2.5em

        &::before
            background-color lighten(divider-color, 20%)
            content ''
            height .125em
            position absolute
            top 0.55em
            width 100%

    &__checkbox //símbolo '❍' cuando .custom-check__checkbox esta desmarcado
        background-color light-gray
        border-radius 50%
        box-shadow z-depth-2 //variable en variables.styl
        left -15%
        transform scale(1.3)
        transition all .3s ease-in-out
        z-index 1

    &:checked + .switch-B__background > .switch-B__checkbox //símbolo '❍' cuando .custom-check__checkbox esta marcado
        background-color checked-color //variable en variables.styl
        left 71%

@media screen and (max-width: 30em)
    .switch-B__text
        margin-right 1.1em
