/**
 * ESTILOS PARA INPUT DE TIPO SWITCH
 *
 * CONTENIDO
 * ==========================================================
 * switch-C......................Estilos del switch animado A.
 *        switch-C__background...Barra de color que esta por debajo del botón
 *                               que se desplaza al activar o desactivar.
 *
 *        switch-C__checkbox.....Botón animado que esta encima de la barra de color sobre
 *                               la que se desplaza este botón.
 */

/*------------------------------------*\
    SWITCH-C
\*------------------------------------*/
.switch-C
    margin 1em 0 //modifica el margin por defecto de los elementos custom-check

    &__checkbox
        cursor pointer

    &__text
        display inline-block
        margin-right 1.5em
        padding 0
        position relative

    &__background //fondo '☐☐☐☐' cuando .custom-check__checkbox esta desmarcado
        background-color lighten(divider-color, 40%) //variable en variables.styl
        border solid 0.0625em rgba(250,250,250, 0)//variable en variables.styl
        border-radius 999px
        display inline-block
        position relative
        top .15em
        transform scale(1.4)
        transition all .3s ease-in-out
        width 2.2em

    &__checkbox //símbolo '❍' cuando .custom-check__checkbox esta desmarcado
        background-color light-gray //variable en variables.styl
        border-radius 50%
        box-shadow z-depth-1 //variable en en variables.styl
        left -2%
        top -0.0625em
        transform scale(.75)
        transition all .3s ease-in-out

    &:checked + .switch-C__background
        background-color lighten(checked-color, 70%)

    &:checked + .switch-C__background > .switch-C__checkbox //símbolo '❍' cuando .custom-check__checkbox esta marcado
        background-color checked-color //variable en variables.styl
        left 50%

@media screen and (max-width: 30em)
    .switch-C__text
        margin-right 1.1em
