/**
 * ESTILOS PARA INPUT DE TIPO SWITCH
 *
 * CONTENIDO
 * ==========================================================
 * switch-A......................Estilos del switch animado A.
 *        switch-A__background...Barra de color que esta por debajo del botón
 *                               que se desplaza al activar o desactivar.
 *
 *        switch-A__checkbox.....Botón animado que esta encima de la barra de color sobre
 *                               la que se desplaza este botón.
 */

/*------------------------------------*\
    SWITCH-A
\*------------------------------------*/
.switch-A
    margin 1em 0 //modifica el margin por defecto de los elementos custom-check

    &__checkbox
        cursor pointer

    &__text
        display inline-block
        margin-right 1.5em
        padding 0
        position relative

    &__background //fondo '☐☐☐☐' cuando .custom-check__checkbox esta desmarcado
        background-color lighten(divider-color, 40%) //variable en variables.styl
        border-radius 999px
        box-shadow z-depth-1 //variable en variables.styl
        display inline-block
        position relative
        top .15em
        width 2.6em

    &__checkbox //símbolo '❍' cuando .custom-check__checkbox esta desmarcado
        background-color light-gray //variable en variables.styl
        border-radius 50%
        box-shadow z-depth-2 //variable en variables.styl
        left -15%
        transform scale(1.3)
        transition all .3s ease-in-out

    &:checked + .switch-A__background > .switch-A__checkbox //símbolo '❍' cuando .custom-check__checkbox esta marcado
        background-color checked-color //variable en variables.styl
        left 71%

@media screen and (max-width: 30em)
    .switch-A__text
        margin-right 1.1em
