/**
 * CONTENIDO
 * ================================================================
 * list................Estilos del elemento de tipo lista.
 *     list__item......Estilos de los items del elemento lista.
 */


 /*------------------------------------*\
     LIST
 \*------------------------------------*/
 .list
     background-color white
     border-radius .125em
     box-shadow z-depth-2 //variable en variables.styl
     display inline-block
     height auto
     list-style-type none
     margin .5em
     padding .5em 1em
     width 9.4em //Define el ancho de los elementos interiores

     &__item
         text-align center
         width 100%

@media screen and (max-width: 30em)
    .list
        width 80%
