/**
 * CONTENIDO
 * ========================================================================
 * landing................Contenedor del título del proyecto
 *      landing__title....Texto del título del proyecto.
 *      landing__autor....Pequeño botón que lleva al twitter del autor.
 */

/*------------------------------------*\
    LANDING
\*------------------------------------*/
.landing
    background-color rgba(white, .9)
    box-shadow z-depth-1 //variable en variables.styl
    height 200px
    position absolute
    text-align center
    top 112px
    width 100%

    &__title
        color accent-color //variable en variables.styl
        display inline-block
        font-size 4rem
        font-weight 100
        margin .8em auto .2em auto
        width 100%

    &__autor
        background-color accent-color //variable en variables.styl
        border-radius .125em
        box-shadow z-depth-1 //variable en variables.styl
        color white
        font-size 1rem
        font-weight 400
        padding .5em
        text-decoration none
        transition all .2s ease

        &:hover
            box-shadow z-depth-2 //variable en variables.styl

@media screen and (max-width: 30em)
    .landing
        height 140px
        top 175px

        &__title
            font-size 2.9rem
            margin .6em 0 .2em 0

        &__autor
            padding .3em
