//-ELEMENTOS DEL PEQUEÑO LANDING DEL SITIO
section(class="landing")
    h1(class="landing__title") Checkbox.css
    a(class="landing__autor"  href="https://twitter.com/JorgeBarron28"  target="_blank") @JorgeBarron28
